name: ci

on:
  push:
    branches: ["main"]
  pull_request:
    branches: ["main"]

env:
  CARGO_TERM_COLOR: always

jobs:
  build:
    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@v6
      - uses: actions/cache@v5
        with:
          path: |
            ~/.cargo/bin/
            ~/.cargo/registry/index/
            ~/.cargo/registry/cache/
            ~/.cargo/git/db/
            target/
          key: ${{ runner.os }}-cargo-${{ hashFiles('**/Cargo.lock') }}
      - name: Update Rust
        run: rustup update stable --no-self-update
      - name: Install libpcap
        run: |
          sudo apt-get update
          sudo apt-get install -y libudev-dev
      - name: Build
        run: cargo build --verbose
      - name: Test
        run: cargo test --verbose
      - name: Check
        run: cargo clippy --verbose --all-targets -- --D warnings
      - name: Format
        run: cargo fmt --all --check
